<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Inserimento utente</title>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

 <script src=
		"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
<style>
body {
  background-color: lightblue;
}
</style>
</head>
<body>
	<h1>Registrazione Conto</h1>

	<form action="#" th:action="@{salvaConto}" th:object="${conto}"
		method="POST">
		Inserisci il numero del conto
		
		<input required type="text" th:field="*{numeroConto}" placeholder="Numero conto" class="form-control mb-4 col-4"> 
		Inserisci il saldo
		<input required type="text" th:field="*{saldo}"  class="form-control mb-4 col-4"> 
		A quale cliente vuoi associarlo?
		<select th:field="*{utentebancario}">

 		 <option th:each ="persona : ${listaPersone}" th:value="${persona.id}" th:text="${persona.nome}"></option>
		
		</select>	
	
	<br>
						

			
		<button type="submit" class="btn btn-info col-2">Salva conto</button>
			
			<a th:href = "@{/}" class="w3-button  w3-green"> Torna alla lista degli utenti</a>
			
			

	</form>




</body>
</html>